<div class="container-fluid">
    <div class="row">
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SPARQL Visualiser by PLT</a>

            <button class="btn btn-default" data-ng-click="$location.url('/legend')" style="margin-top: 10px;">Show legend</button>
            <button class="btn btn-default" data-ng-click="$location.url('/settings')" style="margin-top: 10px;">Settings</button>
        </div>
        <!-- /.navbar-header -->
    </div>
<div class="row">
    <div class="col-sm-5">
        <h2>Last Queries</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Query</th>
                <th>Date</th>
                <th>Client</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="request in queries | orderBy:'-'" ng-click="selectQuery(request)" ng-class="{ active: request.isActive}">
                <td>
                    <span class="label label-default">{{request.method}}</span>
                    {{request.query | limitTo: truncateLength }}<span ng-if="request.query.length>truncateLength"> ...</span>
                </td>
                <td><em>{{request.time | date:'yyyy-MM-dd HH:mm:ss'}}</em></td>
                <td>{{request.client}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-7">
        <h2>Selected Query</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p><i class="fa fa-sitemap fa-fw"></i> Query: <code>{{selectedQuery.query}}</code></p>
                <p>Date: <em>{{selectedQuery.time | date:'yyyy-MM-dd HH:mm:ss'}}</em></p>
                <p>Client: {{selectedQuery.client}} -- {{selectedQuery.userAgent}}</p>
                <input type="textarea" class="form-control" width="60" ng-model="selectedQuery.query">
                <button class="btn form-control" data-ng-click="update()">Update</button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="queryGraph">
                <div id="graph" class="col-sm-10">
                <svg data-ng-mouseleave="dragNodeService.dragNode(null)"
                     data-ng-attr-view_box="0 0 {{graphSize.width}} {{graphSize.height}}"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">

                    <g id="sparql-js-graph-edges">
                        <g data-ng-repeat="edge in edges" edge="edge" highlight="highlightService"></g>
                    </g>
                    <g id="sparql-js-graph-nodes">
                        <g data-ng-repeat="node in nodes" node="node" highlight="highlightService"></g>
                    </g>

                    <g id="sparql-js-graph-sub-graphs">
                        <g class="sub-graph"
                           data-ng-repeat="subGraph in subGraphs"
                           data-ng-attr-transform="translate({{subGraph.getNodeList()[0].getX() + subGraph.getNodeList()[0].getEllipseParameterX()}}, {{subGraph.getNodeList()[0].getY() - subGraph.getNodeList()[0].getEllipseParameterY() - 24}})"
                           data-ng-mouseover="highlightService.highlight(subGraph)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(subGraph)}">
                            <image height="24" xlink:href="./img/glyphicons/glyphicons-692-tree-structure.png"
                                   width="26"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-filters">
                        <g class="filter"
                           data-ng-repeat="filter in filters"
                           data-ng-attr-transform="translate({{filter.getNodeList()[0].getX() + filter.getNodeList()[0].getEllipseParameterX()}}, {{filter.getNodeList()[0].getY() + filter.getNodeList()[0].getEllipseParameterY()}})"
                           data-ng-mouseover="highlightService.highlight(filter)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(filter)}"
                           data-ng-show="filter.getNodeList().length > 0">
                            <image height="24" xlink:href="./img/glyphicons/glyphicons-321-filter.png"
                                   width="20"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-binds">
                        <g class="bind"
                           data-ng-repeat="bind in binds"
                           data-ng-attr-transform="translate({{bind.getNodeList()[0].getX() - bind.getNodeList()[0].getEllipseParameterX() - 20}}, {{bind.getNodeList()[0].getY() + bind.getNodeList()[0].getEllipseParameterY()}})"
                           data-ng-mouseover="highlightService.highlight(bind)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(bind)}"
                           data-ng-show="bind.getNodeList().length > 0">
                            <image height="24" xlink:href="./img/glyphicons/glyphicons-51-link.png" width="20"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-orders">
                        <g class="order"
                           data-ng-repeat="order in orders"
                           data-ng-attr-transform="translate({{order.getNodeList()[0].getX() - order.getNodeList()[0].getEllipseParameterX() - 24}}, {{order.getNodeList()[0].getY() - order.getNodeList()[0].getEllipseParameterY() - 23}})"
                           data-ng-mouseover="highlightService.highlight(order)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(order)}">
                            <image height="23" xlink:href="./img/glyphicons/glyphicons-404-sorting.png"
                                   width="24"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-services">
                        <g class="service"
                           data-ng-repeat="service in services"
                           data-ng-attr-transform="translate({{service.getNodeList()[0].getX() - 13}}, {{service.getNodeList()[0].getY() + service.getNodeList()[0].getEllipseParameterY() + 3}})"
                           data-ng-mouseover="highlightService.highlight(service)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(service)}">
                            <image height="26" xlink:href="./img/glyphicons/glyphicons-197-exclamation-sign.png"
                                   width="26"></image>
                        </g>
                    </g>
                </svg>
                </div>
                <div class="col-sm-2">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a>Graph ({{subGraphs.length}})<span class="fa arrow" data-ng-show="subGraphs.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="subGraph in subGraphs">
                                    <a data-ng-bind="subGraph.getName()" data-ng-mouseover="highlightService.highlight(subGraph)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li id="union1">
                            <a>Union ({{unions.length}})<span class="fa arrow" data-ng-show="unions.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="union in unions">
                                    <a data-ng-bind="union.getName()" data-ng-mouseover="highlightService.highlight(union)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="filter1">
                            <a>Filter ({{filters.length}})<span class="fa arrow" data-ng-show="filters.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="filter in filters">
                                    <a data-ng-bind="filter.getText()" data-ng-mouseover="highlightService.highlight(filter)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="service1">
                            <a>Service ({{services.length}})<span class="fa arrow" data-ng-show="services.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="service in services">
                                    <a data-ng-bind="service.getName()" data-ng-mouseover="highlightService.highlight(service)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="bind1">
                            <a>Bind ({{binds.length}})<span class="fa arrow" data-ng-show="binds.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="bind in binds">
                                    <a data-ng-bind="bind.getText()" data-ng-mouseover="highlightService.highlight(bind)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="orderby1">
                            <a>Order by ({{orders.length}})<span class="fa arrow" data-ng-show="orders.length > 0"></span></a>
                            <ul class="nav nav-second-level">
                                <li data-ng-repeat="order in orders">
                                    <a data-ng-bind="order.getText()" data-ng-mouseover="highlightService.highlight(order)"
                                       data-ng-mouseleave="highlightService.highlight(null)"></a>
                                </li>
                            </ul>
                        </li>
                        <li id="limit">
                            <a>Limit: {{limit}}</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>


</div>
</div>
