<div class="container-fluid">
    <div class="row">
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SPARQL Visualiser by PLT</a>
            <button class="btn btn-default" data-ng-click="$location.url('/legend')" style="margin-top: 10px;">Show
                legend
            </button>
            <button class="btn btn-default pull-left" data-ng-click="queries.update()" style="margin-top: 10px;">
                Update
            </button>
        </div>
        <!-- /.navbar-header -->
    </div>

<div class="row">
    <div class="col-sm-5">
        <h2>Last Queries</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Query</th>
                <th>Date</th>
                <th>Client</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="request in queries.sparqlRequests | orderBy:'-'" data-ng-click="selectQuery(request)" ng-class="{ active: request.isActive}">
                <td><span class="label label-default">{{request.method}}</span> {{request.query | limitTo: 50 }} ...
                </td>
                <td><em>{{request.time | date:'yyyy-MM-dd HH:mm:ss'}}</em></td>
                <td>{{request.client}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-7">
        <h2>Selected Query</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <p><i class="fa fa-sitemap fa-fw"></i> Query: <code>{{selectedQuery.query}}</code></p>
                <p>Date: <em>{{selectedQuery.time | date:'yyyy-MM-dd HH:mm:ss'}}</em></p>
                <p>Client: {{selectedQuery.client}} -- {{selectedQuery.userAgent}}</p>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="queryGraph">
                <svg data-ng-mouseleave="dragNodeService.dragNode(null)"
                     width="{{graphSize.width}}"
                     height="{{graphSize.height}}"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="sparql-js-graph-edges">
                        <g class="edge"
                           data-ng-repeat="edge in edges"
                           transform="translate({{edge.getStartNode().getX()}}, {{edge.getStartNode().getY()}})"
                           data-edge="edge"
                           data-ng-class="{insert: edge.isInsert(), delete: edge.isDelete(), minus: edge.isMinus(), optional: edge.isOptional(), construct: edge.isConstruct(), unhighlighted: !highlightService.isHighlighted(edge)}">
                            <path d="M0 0 Q{{edge.getCenterPoint()[0] - edge.getStartNode().getX()}} {{edge.getCenterPoint()[1] - edge.getStartNode().getY()}} {{edge.getEndNode().getX() - edge.getStartNode().getX()}},{{edge.getEndNode().getY() - edge.getStartNode().getY()}}"></path>
                            <g transform="translate({{edge.getInterjectionPoint()[0] - edge.getStartNode().getX()}}, {{edge.getInterjectionPoint()[1] - edge.getStartNode().getY()}})">
                                <polygon points="0,0,12,5,12,-5" transform="rotate({{edge.getInterjectionAngle()}})"
                                         class="arrow-top"></polygon>
                            </g>
                            <g class="label"
                               transform="translate({{(2 * edge.getCenterPoint()[0] + edge.getEndNode().getX() - 3 * edge.getStartNode().getX() - 2 * edge.size.x) / 4}},{{(2 * edge.getCenterPoint()[1] + edge.getEndNode().getY() - 3 * edge.getStartNode().getY() - 2 * edge.size.y) / 4}})">
                                <rect height="{{edge.size.y}}" width="{{edge.size.x}}"></rect>
                                <text data-ng-bind="edge.getName()" dy="{{3 * edge.size.y / 4}}"></text>
                            </g>
                        </g>
                    </g>
                    <g id="sparql-js-graph-nodes">
                        <g class="node"
                           data-ng-repeat="node in nodes"
                           data-node="node"
                           transform="translate({{node.getX()}}, {{node.getY()}} )"
                           data-ng-class="{select: node.isSelect(), unhighlighted: !highlightService.isHighlighted(node)}"
                           data-ng-mousedown="dragNodeService.dragNode(node, $event)"
                           data-ng-mousemove="dragNodeService.moveNode($event)"
                           data-ng-mouseup="dragNodeService.dragNode(null)">
                            <ellipse rx="{{node.getEllipseParameterX()}}"
                                     ry="{{node.getEllipseParameterY()}}"></ellipse>
                            <text data-ng-bind="node.getName()" dx="{{-node.rx/2}}" dy="{{node.ry/4}}"></text>
                        </g>
                    </g>
                    <g id="sparql-js-graph-sub-graphs">
                        <g class="sub-graph"
                           data-ng-repeat="subGraph in subGraphs"
                           transform="translate({{subGraph.getNodeList()[0].getX() + subGraph.getNodeList()[0].getEllipseParameterX()}}, {{subGraph.getNodeList()[0].getY() - subGraph.getNodeList()[0].getEllipseParameterY() - 24}})"
                           data-ng-mouseover="highlightService.highlight(subGraph)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(subGraph)}">
                            <image height="24" xlink:href="./img/glyphicons/glyphicons-692-tree-structure.png"
                                   width="26"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-filters">
                        <g class="filter"
                           data-ng-repeat="filter in filters"
                           transform="translate({{filter.getNodeList()[0].getX() + filter.getNodeList()[0].getEllipseParameterX()}}, {{filter.getNodeList()[0].getY() + filter.getNodeList()[0].getEllipseParameterY()}})"
                           data-ng-mouseover="highlightService.highlight(filter)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(filter)}"
                           data-ng-show="filter.getNodeList().length > 0">
                            <image height="24" xlink:href="./img/glyphicons/glyphicons-321-filter.png"
                                   width="20"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-binds">
                        <g class="bind"
                           data-ng-repeat="bind in binds"
                           transform="translate({{bind.getNodeList()[0].getX() - bind.getNodeList()[0].getEllipseParameterX() - 20}}, {{bind.getNodeList()[0].getY() + bind.getNodeList()[0].getEllipseParameterY()}})"
                           data-ng-mouseover="highlightService.highlight(bind)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(bind)}"
                           data-ng-show="bind.getNodeList().length > 0">
                            <image height="24" xlink:href="./img/glyphicons/glyphicons-51-link.png" width="20"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-orders">
                        <g class="order"
                           data-ng-repeat="order in orders"
                           transform="translate({{order.getNodeList()[0].getX() - order.getNodeList()[0].getEllipseParameterX() - 24}}, {{order.getNodeList()[0].getY() - order.getNodeList()[0].getEllipseParameterY() - 23}})"
                           data-ng-mouseover="highlightService.highlight(order)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(order)}">
                            <image height="23" xlink:href="./img/glyphicons/glyphicons-404-sorting.png"
                                   width="24"></image>
                        </g>
                    </g>
                    <g id="sparql-js-graph-services">
                        <g class="service"
                           data-ng-repeat="service in services"
                           transform="translate({{service.getNodeList()[0].getX() - 13}}, {{service.getNodeList()[0].getY() + service.getNodeList()[0].getEllipseParameterY() + 3}})"
                           data-ng-mouseover="highlightService.highlight(service)"
                           data-ng-mouseleave="highlightService.highlight(null)"
                           data-ng-class="{unhighlighted: !highlightService.isHighlighted(service)}">
                            <image height="26" xlink:href="./img/glyphicons/glyphicons-197-exclamation-sign.png"
                                   width="26"></image>
                        </g>
                    </g>
                </svg>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>


</div>
</div>
